@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-track: #3071a9;
  --color-track-focus: #367ebd;
}

@layer components {
  .btn-media {
    @apply bg-white mx-[2%] w-[20%] py-2.5 px-2.5 border border-black rounded-[20px] hover:bg-gray-500 lg:py-5 dark:bg-gray-800 dark:hover:bg-gray-600;

    & svg {
      @apply w-[60px] h-[60px] lg:w-[140px] lg:h-[140px] inline;
    }
  }

  .range-slider {
    -webkit-appearance: none;
    display: block;
    margin: auto;
    width: 440px;
  }

  .range-slider:focus {
    outline: none;
  }

  .range-slider::-webkit-slider-runnable-track {
    height: 28.4px;
    cursor: pointer;
    box-shadow:
      1px 1px 1px #000000,
      0px 0px 1px #0d0d0d;
    background: var(--color-track);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

  .range-slider::-webkit-slider-thumb {
    box-shadow:
      1px 1px 1px #000000,
      0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 56px;
    width: 30px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }

  .range-slider:focus::-webkit-slider-runnable-track {
    background: var(--color-track-focus);
  }

  @media (max-width: 1024px) {
    .range-slider {
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    .range-slider {
      width: 80%;
    }
  }
}
