body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#toggle-colour {
  background-color: white;
  border-radius: 20px;
  height: 40px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
}

#toggle-colour:hover {
  background-color: grey;
}

.title {
  font-size: 500%;
  font-family: arial;
  margin: 0;
}

#date {
  color: grey;
  font-size: 300%;
  font-weight: normal;
  text-align: center;
}

#reading {
  position: absolute;
  text-align: center;
  top: 200px;
  left: 0;
  right: 0;
}

#media-controls {
  text-align: center;
  height: 20vh;
  position: absolute;
  bottom: 20%;
  margin: auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

input[type="range"] {
  -webkit-appearance: none;
  display: block;
  margin: auto;
  width: 440px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 28.4px;
  cursor: pointer;
  box-shadow:
    1px 1px 1px #000000,
    0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow:
    1px 1px 1px #000000,
    0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 56px;
  width: 30px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

#media-controls button {
  background-color: white;
  margin: 0% 2%;
  width: 20%;
  border-color: #000000;
  border-radius: 20px;
}

#media-controls button:hover {
  background-color: grey;
}

#media-controls i {
  padding: 40px 20px;
  font-size: 1100%;
}

.fa-play {
  color: green;
}

.fa-pause {
  color: black;
}

.fa-stop {
  color: red;
}

#time-period {
  text-align: center;
}

.hide {
  visibility: hidden;
}

@media screen and (max-width: 920px) {
  input[type="range"] {
    width: 50%;
  }

  #media-controls i {
    font-size: 200%;
    padding: 20px;
  }

  #media-controls button {
    height: 150%;
  }
}

@media screen and (max-width: 750px) {
  #reading {
    font-size: 60px;
  }

  input[type="range"] {
    width: 80%;
  }
}
